body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 20px;
}

h1 {
    color: #333;
}

button {
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: #fff;
}

.columna1 {
    width: 30%;
}

.columna2 {
    width: 20%;
}

.columna3 {
    width: 50%;
}

#lista {
    text-align: left;
}
