body {
    font-family: Arial, sans-serif;
}

center {
    margin-top: 20px;
}

hr {
    border: 1px solid #ccc;
}

h2 {
    color: #333;
}

button {
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    padding: 8px;
    margin: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: #fff;
}

.columna {
    font-weight: bold;
}

#lista {
    text-align: left;
}